<nav>
    <img src="../images/logo.webp" height="50px" alt="XLauncher Logo">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="news">News</a></li>
        <li><a href="blog">Blog</a></li>
    </ul>
    <a class="btn" href="/">Download</a>
</nav>